$fontSize: 16pt;

$maxWidth: 900px;

$colorKon: #4d549a;

$fontSet-Serif: 'UDDigiKyokasho R JIS2004', 'ヒラギノ明朝 Pro W3',
    'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho',
    'ＭＳ Ｐ明朝', 'MS PMincho', serif;

$fontSet-SansSerif: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
    'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;

$fontSet-Monospace: 'Liberation Serif', 'Noto Sans CJK JP',
    /* Linux/Android/ChromeOS */ 'TakaoGothic', 'VL Gothic',
    /* Debian/Ubuntu */ 'Yu Gothic', 'MS Gothic', /* Windows */ 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Osaka-Mono', /* Mac/iOS */ 'Noto Sans JP',
    Monospace;

// google fonts Hannari
$fontsSet-Hannari: 'Hannari', $fontSet-Serif;

* {
    box-sizing: border-box;
}

dl {
    display: flex;
    flex-wrap: wrap;

    $dtW: 25%;
    $ddW: 100% - $dtW;

    dt {
        width: $dtW;
        text-align: center;
    }

    dd {
        width: $ddW;
    }
}

.fixed-width {
    font-family: $fontSet-Monospace;
}

body {
    margin: 0;
    font-size: 16pt;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7 {
        font-family: $fontSet-Serif;
        font-weight: bold;
    }

    hr {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;

        height: 3px;
    }

    > * {
        display: block;
        font-size: $fontSize;
        font-family: $fontSet-SansSerif;
        max-width: $maxWidth;
        margin: 0 auto;
        overflow: hidden;

        img {
            max-width: 200px;
        }
    }

    img.logo {
        max-width: fit-content;
        width: 60%;
        display: block;
        margin: 0 auto;

        &.filter-white {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(315deg)
                brightness(102%) contrast(102%);
        }
    }

    > header {
        display: block;
        height: 0;
    }

    > footer {
        color: white;
        font-family: $fontSet-Serif;
        background-color: $colorKon;

        width: 100%;
        max-width: 100%;

        > section {
            width: $maxWidth;
            margin: 0 auto;

            padding: 1em 1em 2em;

            min-height: 5em;
            text-align: center;

            > p {
                text-align: center;

                &.auth {
                    display: block;
                    padding: 10px;

                    img {
                        margin: 0;
                        display: block;
                        margin: 0 auto;
                        max-height: 2rem;
                    }
                }

                &.copy {
                    font-size: xx-small;
                }
            }

            ul {
                padding: 0;
                li {
                    display: inline-block;

                    a {
                        padding: 0 0.2em;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &::after {
                        content: '・';
                    }

                    &:last-of-type {
                        &::after {
                            content: '';
                        }
                    }
                }
            }
        }
    }

    > nav {
        ul {
            font-family: $fontSet-Serif;
            width: fit-content;
            margin: 0 auto;
            padding: 1em 0;
            display: block;

            li {
                display: inline-block;
                padding: 0 0.8em;

                $h: 2.5em;
                height: $h;
                line-height: $h;

                font-size: large;

                a {
                    display: inline-block;

                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }

    > article {
        // 本文
        > section {
            // border: 1px solid red;

            margin: 0.5rem 0 1em;
            padding: 2em 20px;
            border-radius: 10px;

            h2,
            h3 {
                text-align: center;
            }

            h2 {
                text-align: center;
                font-size: 24pt;
                margin: 1em 0;
            }

            h3 {
                margin: 1.2em;
            }

            p {
                max-width: 32em;
                margin: 0 auto;
                line-height: 1.6em;

                &.center {
                    text-align: center;
                }

                &.small {
                    font-size: 80%;
                }
            }
            dl {
                margin: 0 auto;

                dt {
                    display: inline-block;
                }

                dd {
                    display: inline-block;
                    width: fit-content;
                    line-break: auto;
                }
            }

            > table {
                margin: 0.5em auto;

                tr {
                    * {
                        padding: 0.2em 0.5em;
                        font-weight: normal;
                        vertical-align: top;
                    }
                }
            }

            .flyer {
                margin: 0.5em auto;
                width: fit-content;
            }

            iframe {
                margin: 0.5em auto;

                &#googleCalendar {
                    $w: 500px;
                    $h: 450px;

                    display: block;

                    width: $w;
                    max-width: 100%;
                    height: $h;
                    max-height: $h;
                }

                &#googleMap {
                    width: 600px;
                    max-width: 100%;
                    height: 450px;
                    display: block;
                }
            }

            a {
                img {
                    display: inline-block;
                }
            }
        }

        // 表紙
        &#Cover {
            $coverHight: 520px;
            $coverWidth: 1300px;
            max-width: 100%;
            padding: 0 0 20px 0;

            section {
                display: flex;
                flex-direction: row;

                width: $coverWidth;
                margin: 0 auto;
                padding: 0;

                box-shadow: 0px 1px 15px rgba($colorKon, 0.3);

                > * {
                    height: $coverHight;

                    &#frontCover {
                        $zIndex: 0;
                        position: relative;

                        width: 60%;
                        background-color: black;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;

                        h1 {
                            z-index: $zIndex + 100;
                            position: absolute;
                            width: 100%;
                            bottom: 8%;
                            text-align: center;
                            padding: 0;

                            img {
                                filter: invert(100%) sepia(0%) saturate(0%)
                                    hue-rotate(315deg) brightness(102%)
                                    contrast(102%) drop-shadow(0px 3px 5px #000);
                            }
                        }

                        > img {
                            z-index: $zIndex + 1;

                            position: absolute;
                            max-width: none;
                            height: 150%;
                            display: none;
                            opacity: 0;
                            &.active {
                                display: block;
                            }
                        }
                    }

                    &#innerCover {
                        width: 40%;
                        background-color: white;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        > * {
                            &#theFivePrecepts {
                                // 縦書き
                                -ms-writing-mode: tb-rl;
                                writing-mode: vertical-rl;

                                background-color: white;
                                font-family: $fontSet-Serif;

                                h3 {
                                    font-size: x-large;
                                    display: block;
                                    text-align: left;
                                    text-indent: 2em;
                                    font-size: 1.8rem;
                                }

                                ul {
                                    display: block;
                                    padding: 10px 20px;
                                    font-size: 1.5rem;

                                    li {
                                        &::before {
                                            content: '一、';
                                        }

                                        display: block;

                                        text-align: left;
                                        padding: 0;
                                        width: 3.5rem;
                                        line-height: 3.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    body {
        display: block;
        padding: 0;

        > * {
            margin: 0 0;
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        padding: 0;

        > section {
            .googleMap {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */

    body {
        > article {
            > section {
                font-size: 12pt !important;
            }

            &#Cover {
                > section {
                    width: 100vw;
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    > * {
                        width: 100vw;
                        max-width: 100vw;
                        height: 400px;

                        &#frontCover {
                            width: 100vw;
                            height: 100vw / 4 * 3;
                        }
                        &#innerCover {
                            width: 100vw;

                            #theFivePrecepts {
                                ul {
                                    li {
                                        font-size: 1.2rem;

                                        width: 2.5rem;
                                        line-height: 2.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > footer {
            > section {
                width: 100vw;
            }
        }
    }
}
